body {
  color: gray;
  font-family: 'Lucida Grande';
  margin: 20px 20px;
}

header {
  margin: 30px 30px;
  padding-bottom: 30px;
  padding: 30px;
  border-bottom: 0.5px solid gray;
}

.core{
  display: flex;
}

h3{
  line-height: 0.5;
}

.date {
  margin-bottom: 20px;
}

.left{
  margin: 30px;
  max-width: 30%;
}

.right{
  margin: 30px;
  padding-left: 40px;
  line-height: 2;
  border-left: 0.5px solid gray;
}

.receiver {
  margin-top: 60px;
}

.sender {
  margin-top: 60px;
}

.line {
  line-height: 0.5;
}


.logContainer {
    width:80%;
    margin:0 auto;
    height:100vh;
    padding-top:50px;
}

.logContainer h2 {
    font-weight: 300;
    text-align: center;
    font-size: 35px;
}

.logContainer p {
    margin-top: 20px;
    color: darkslategray;
}

.logContainer input {
    font-size: 17px;
    width: 100%;
    margin-top: 10px;
    padding: 12px 10px;
    box-sizing: border-box;
    font-weight: 300;
}


.logContainer button {
    background: #03a9f4;
    font-size: 13px;
    padding:10px;
    color:#fff;
    margin-top: 20px;
    margin-bottom: 50px;
    text-decoration: none;
}

.logContainer textarea {
    font-size: 17px;
    width: 100%;
    height: 200px;
    margin-top: 10px;
    padding: 12px 10px;
    box-sizing: border-box;
    font-weight: 300;
}

.home-hidden {
  display: none;
}

.logContainer button a {
    background: #03a9f4;
    font-size: 16px;
    padding:10px;
    color:#fff;
    margin-top: 20px;
    margin-bottom: 50px;
    text-decoration: none;
}




